In [1]:
import io

In [2]:
import pandas as pd

In [3]:
file1 = open('output_meta_yelpHotelData_NRYRcleaned.txt', 'r')
lines = file1.readlines()

l1 = ['Date reviewID reviewerID productID Label Useful Funny Cool star_ratings']
for line in lines:
    line1 = line.replace('\n', '')
    l1.append(line1)
file1.close()

In [4]:
df1 = pd.read_csv(io.StringIO('\n'.join(l1)), delim_whitespace=True)

In [5]:
df1['Label'].value_counts()

N    5076
Y     778
Name: Label, dtype: int64

In [6]:
df1.head()

,Date,reviewID,reviewerID,productID,Label,Useful,Funny,Cool,star_ratings
0,6/8/2011,MyNjnxzZVTPq,IFTr6_6NI4CgCVavIL9k5g,tQfLGoolUMu2J0igcWcoZg,N,28,11,18,5
1,8/30/2011,BdD7fsPqHQL73hwENEDT-Q,c_-hF15XgNhlyy_TqzmdaA,tQfLGoolUMu2J0igcWcoZg,N,4,3,0,3
2,6/26/2009,BfhqiyfC,CiwZ6S5ZizAFL5gypf8tLA,tQfLGoolUMu2J0igcWcoZg,N,23,14,12,5
3,9/16/2010,Ol,nf3q2h-kSQoZK2jBY92FOg,tQfLGoolUMu2J0igcWcoZg,N,6,2,8,1
4,2/5/2010,i4HIAcNTjabdpG1K4F5Q2g,Sb3DJGdZ4Rq__CqxPbae-g,tQfLGoolUMu2J0igcWcoZg,N,9,4,11,3

In [7]:
file2 = open('output_review_yelpHotelData_NRYRcleaned.txt', 'r')
lines2 = file2.readlines()

l2 = []
for line in lines2:
    line1 = line.replace('\n', '')
    l2.append(line1)
file2.close()

In [8]:
df2 = pd.DataFrame(l2, columns=['Review'])

In [9]:
df = pd.concat([df1['Label'], df2], axis=1)

In [10]:
df['Label'] = df['Label'].replace('N','1')
df['Label'] = df['Label'].replace('Y','0')

In [11]:
df['Label'].value_counts()

1    5076
0     778
Name: Label, dtype: int64

In [12]:
df.rename(columns = {'Label':'Real'}, inplace = True)

In [14]:
df.head()

  Real                                             Review
0    1  Let me begin by saying that there are two kind...
1    1  The only place inside the Loop that you can st...
2    1  I have walked by the Tokyo Hotel countless tim...
3    1  If you are considering staying here, watch thi...
4    1  This place is disgusting, absolutely horrible,...

In [15]:
df.to_csv('chi_hotel_dataset.csv', index=False)